<main>
  <section>
    <h1>Simple HTML</h1>
    <div class="order-control">
      <div>
        <span [class]="buyColor()" (click)="isSell=false">BUY</span>
        <span [class]="sellColor()" (click)="isSell=true">SELL</span>
      </div>
      <div>
        <input [class]="color()" type="range" id="units" name="units" [min]="unitsMin" [max]="unitsMax" [(ngModel)]="units"/>
        <label for="units">units</label>
      </div>
      <div>
        <input [class]="color()" type="range" id="price" name="price" [min]="priceMin" [max]="priceMax" [(ngModel)]="price"/>
        <label for="price">price</label>
      </div>
      <div>
        <button [class]="color()" type="button">Submit order</button>
      </div>
    </div>
  </section>

  <h1>Angular Material</h1>
  <p>Three ways: CSS; color-attribute; and theme</p>

  <section>
    <h1>Angular Material -- CSS</h1>
    <div class="order-control">
      <div>
        <mat-button-toggle-group name="side" [(ngModel)]="isSell">
          <mat-button-toggle [class]="buyColor()" [value]="false">BUY</mat-button-toggle>
          <mat-button-toggle [class]="sellColor()" [value]="true">SELL</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div>
        <mat-slider
          [class]="colorSlider()"
          [max]="unitsMax"
          [min]="unitsMin"
          [step]="unitsStep"
          discrete showTickMarks>
          <input matSliderThumb [(ngModel)]="units" #unitsSlider>
        </mat-slider>
      </div>

      <div>
        <mat-slider
          [class]="colorSlider()"
          [max]="priceMax"
          [min]="priceMin"
          [step]="priceStep"
          discrete showTickMarks>
          <input matSliderThumb [(ngModel)]="price" #priceSlider>
        </mat-slider>
      </div>

      <div>
        <button [class]="color()" mat-flat-button>Submit Order</button>
      </div>
    </div>

  </section>

  <section>
    <h1>Angular Material -- color attribute</h1>
    <div class="order-control">
      <div>
        <mat-button-toggle-group name="side" [(ngModel)]="isSell">
          <mat-button-toggle [value]="false">BUY</mat-button-toggle>
          <mat-button-toggle [value]="true">SELL</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div>
        <mat-slider
          [max]="unitsMax"
          [min]="unitsMin"
          [step]="unitsStep"
          discrete showTickMarks>
          <input matSliderThumb [(ngModel)]="units" #unitsSlider>
        </mat-slider>
      </div>

      <div>
        <mat-slider
          [max]="priceMax"
          [min]="priceMin"
          [step]="priceStep"
          discrete showTickMarks>
          <input matSliderThumb [(ngModel)]="price" #priceSlider>
        </mat-slider>
      </div>

      <div>
        <button mat-flat-button>Submit Order</button>
      </div>
    </div>

  </section>

  <section>
    <h1>Angular Material -- theme</h1>
    <div class="order-control">
      <div>
        <mat-button-toggle-group name="side" [(ngModel)]="isSell">
          <mat-button-toggle [value]="false">BUY</mat-button-toggle>
          <mat-button-toggle [value]="true">SELL</mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <div>
        <mat-slider
          [max]="unitsMax"
          [min]="unitsMin"
          [step]="unitsStep"
          discrete showTickMarks>
          <input matSliderThumb [(ngModel)]="units" #unitsSlider>
        </mat-slider>
      </div>

      <div>
        <mat-slider
          [max]="priceMax"
          [min]="priceMin"
          [step]="priceStep"
          discrete showTickMarks>
          <input matSliderThumb [(ngModel)]="price" #priceSlider>
        </mat-slider>
      </div>

      <div>
        <button mat-flat-button>Submit Order</button>
      </div>
    </div>

  </section>
</main>

<router-outlet />
