<main>
  <section>
    <h1>Simple HTML</h1>
    <div class="order-control">
      <div>
        <span [ngClass]="buyColor()" (click)="isSell=false">BUY</span>
        <span [ngClass]="sellColor()" (click)="isSell=true">SELL</span>
      </div>
      <div>
        <input [style]="getStyle()" type="range" id="units" name="units" min="1" max="10" value="1"/>
        <label for="units">units</label>
      </div>
      <div>
        <input [style]="getStyle()" type="range" id="price" name="price" min="1" max="100" value="1"/>
        <label for="price">price</label>
      </div>
      <div>
        <button [style]="getStyle()" type="button">Submit order</button>
      </div>
    </div>
  </section>

  <section>
    <h1>Angular Material</h1>

    <div class="order-control">
      <div>
    <mat-button-toggle-group name="side" aria-label="Font Style">
      <mat-button-toggle value="buy">BUY</mat-button-toggle>
      <mat-button-toggle value="sell">SELL</mat-button-toggle>
    </mat-button-toggle-group>
    </div>
    <div>
    <mat-slider
      [max]="unitsMax"
      [min]="unitsMin"
      [step]="unitsStep"
      discrete
      showTickMarks>
      <input matSliderThumb #unitsSlider>
    </mat-slider>
    </div>

      <div>
    <mat-slider
      class="example-margin"
      [max]="priceMax"
      [min]="priceMin"
      [step]="priceStep"
      discrete
      showTickMarks>
      <input matSliderThumb #priceSlider>
    </mat-slider>
      </div>

      <div>
    <button mat-stroked-button>Submit Order</button>
      </div>
    </div>

  </section>
</main>

<router-outlet />
